html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

header {
  border-color: black;
  padding-top: 18rem;
  padding-bottom: 10rem;
  background-image:linear-gradient(to top, rgba(49, 57, 60, 0.3), rgba(49, 57, 60, 0.5)),url(puke.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin-bottom: 0;
}

footer {
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 1000;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title {
  text-align: center;
  margin-bottom: 55px;
}

.hr-size {
  max-width: 65px;
  border-width: 5px;
  border-color: rgb(0, 173, 236);
  margin-top: 30px;
}

.header-text-color {
  color: white;
}

.margin-text-header{
  margin-top: 30px
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  display: block;
}

.btn-primary{
  border-color: rgb(0, 173, 236);
  background-color: rgb(0, 173, 236);
}

.page-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
}

.bg-primary-section{
  background-color: rgb(0, 173, 236);
}

.img-fit {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 173, 236, 0.5);
}

.cont:hover .overlay {
  opacity: 1;
}

.text-title-client {
  color: white;
  font-size: 20px;
  text-align: center;
}

.text-client {
  color: white;
  font-size: 20px;
  text-align: center;
}
